.button {
    background: $primary-color;
    outline: none;
    display: block;
    height: 30px;
    font-size: 12px;
    min-width: 100px;
    padding: 2px;
    cursor: pointer;
    color: white;
}

.button:disabled {
    background: silver;
    color: white;
}