input[type="text"],
input[type="password"],
input[type="number"] {
    box-shadow: initial;
    border-radius: 0px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border: 1px solid $primary-color;
}

.invalid {
    border: 1px solid red;
}

.input-field {
    .label {
        font-size: 16px;
        color: $primary-color-light;
        margin-bottom: 5px;
    }
    input {
        width: 300px;
        height: 20px;
        margin-bottom: 20px;
    }
}