table,
th,
td {
    border: 1px solid gray;
}

table {
    td:first-of-type {
        text-transform: capitalize;
    }
    .table-header {
        font-weight: bold;
    }
    .table-subheader {
        font-weight: bold;
        font-style: italic;
    }
    .topper {
        td:first-of-type{
            color: green;
        }
    }
    .fail {
        td:first-of-type{
            color: red;
        }
    }
}