.top-navigation-bar {
    height: 50px;
    position: fixed;
    display: inline-flex;
    align-items: center;
    z-index: 100;
    width: 100%;
    color: $primary-color;
    background: white;
    box-shadow: 0 3px 3px -4px #999;
    padding-left: 50px;
    a {
        text-decoration: none;
        color: $primary-color-light;
        margin-right: 20px;
    }
}