html,
body,
#app-root,
.application-container {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background: $body-color;
    margin: 0px;
}

.main-content {
    padding: 100px 50px;
}