$primary-color: #2e516a; // Darkish blue
$primary-color-light: #426278; //Lightish blue
/* $body-color: #ECECEC; */ // Greyish shade
$body-color: #EFF0F3;
$secondary-color-1: #F3D250; // Yellowish shade
$secondary-color-2: #F78888; // Pinkish shade

